.id-auth
  .tabs
    a.tab{ng-click='login_form = false' ng-class="{ active: !login_form }"}
      span Зарегистрироваться
    a.tab{ng-click='login_form = true' ng-class="{ active: login_form }"}
      span Войти

  content
    id-login-form{ng-if='login_form'}
    id-register-form{ng-if='!login_form'}
