script{src='/assets/id.js'}
.id
  .container
    .row
      .col-md-12
        id-subscribe-form
        br
        br
        br
        id-password-reset-form
        br
        br
        br
        id-register-form
        br
        br
        br
        id-auth-form
        br
        br
        br
        id-login-form
        - @user
        - if @user
          ul
            li = link_to 'Профиль пользователя', users_show_path
            li = link_to 'Выйти', sign_out_path
