javascript:
  return_url = "#{@return_url}"
.b-content.b-content--result
  waiting {url="#{Settings.hosts.metynnis}/#{@operator}/check/#{@subscription_id}?msisdn=#{msisdn}" operator="#{@operator}" owl-state="#{owl_state}"}
    .b-wait-result.ng-cloak{ng-show='result'}
      form.b-form.ng-cloak {ng-submit="getRedirect('#{@operator}')" name='of' ng-show='error.showTextField'}
        .b-wait-result__text {ng-bind-html='error.text'}
        label.b-form__element.b-form__element--phone.b-form__element--wait {for='phone' }
          input.b-input.b-input--phone#phone {required type='tel' mask="+7 (999) 999-9999" ng-model='phone' placeholder='+7 (    )' ng-focus='phoneFocus($event)' ng-blur='phoneBlur()' }
          input.b-input.b-input--phone {type='hidden' ng-value='phone | phoneFilter' name='phone'}
        .b-form__element.b-form__element--no-padding
          button.b-input.b-input--submit { ng-disabled='!of.$valid || !(phone && phone.length>2)'}
            = 'Отправить'

      .b-form {ng-hide='error.showTextField'}
        .b-wait-result__text {ng-bind-html='error.text'}
        .b-form__element.b-form__element--submit.b-form__element--wait {ng-show='!error.hideButton'}
          a.b-input.b-input--submit.b-wait-result__button {ng-href='{{error.redirectUrl}}' ng-click="sendCustomEvent(['send','event','Error_Page','Click_Button','Error_Try',{'nonInteraction': true}])"} = '{{error.buttonText}}'
      .container.container--prices.container--opened {accordion='opened' ng-if='error.showPaywall'}
        .b-container__wrapper
          .b-container__header {ng-click='toggle()'}
            span.b-triangle
            .b-container__price
              span = '490'
              | руб. в месяц
            .b-container__title
              = 'Online'
              small = 'Полная подписка'

          .b-container-description
            .b-container-description__logo
              = image_tag 'svg/devices.svg', width: 89
          .b-container__button
            .b-form
              .b-form__element.b-form__element--submit
                a.b-input.b-input--submit {href="#{Settings.hosts.metynnis}" ng-click="sendCustomEvent(['send','event','Error_Page','Click_Button_FullSubs','Error_FullSubs',{'nonInteraction': true}])"} = 'Подписаться'

          ul.b-perks
            li.perks__perk = 'Доступ ко всем материалам с любых устройств'
            li.perks__perk = 'Ежедневная email-рассылка с анонсами свежего номера'
            li.perks__perk = 'Участие в обсуждении материалов на сайте'
      a.b-form-button.b-form-button--feedback{href='http://www.vedomosti.ru/info/feedback' ng-hide='error.hideCancel' ng-click="sendCustomEvent(['send', 'event','Send_Problem','Submit_Form_Problem','Form_Problem',{'nonInteraction': true}])"} = 'Сообщить о проблеме'
    .b-waiting {ng-show='!result'}
      .b-waiting__text
        = 'Подождите, пожалуйста.'
        br
        = 'Мы ждем ответа от мобильного оператора'
      .b-waiting__loader
        |
          <style type='text/css'> .uil-spin-css {
            background: none;
            position: relative;
            width: 200px;
            height: 200px;
          }
          @-webkit-keyframes uil-spin-css {

            0% {
              opacity: 1;
              -ms-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
            }
            100% {
              -ms-transform: scale(0);
              -moz-transform: scale(0);
              -webkit-transform: scale(0);
              -o-transform: scale(0);
              transform: scale(0);
            }
          }
          @-moz-keyframes uil-spin-css {
            0% {
              -ms-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
            }
            100% {
              -ms-transform: scale(0);
              -moz-transform: scale(0);
              -webkit-transform: scale(0);
              -o-transform: scale(0);
              transform: scale(0);
            }
          }
          @-ms-keyframes uil-spin-css {
            0% {
              -ms-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
            }
            100% {
              -ms-transform: scale(0);
              -moz-transform: scale(0);
              -webkit-transform: scale(0);
              -o-transform: scale(0);
              transform: scale(0);
            }
          }
          @-o-keyframes uil-spin-css {
            0% {
              -ms-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
            }
            100% {
              -ms-transform: scale(0);
              -moz-transform: scale(0);
              -webkit-transform: scale(0);
              -o-transform: scale(0);
              transform: scale(0);
            }
          }
          @keyframes uil-spin-css {
            0% {
              -ms-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
            }
            100% {
              -ms-transform: scale(0);
              -moz-transform: scale(0);
              -webkit-transform: scale(0);
              -o-transform: scale(0);
              transform: scale(0);
            }
          }
          .uil-spin-css > div {
            width: 24px;
            height: 24px;
            margin-left: 4px;
            margin-top: 4px;
            position: absolute;
          }
          .uil-spin-css > div > div {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background: #2f6f6f;
            -ms-transform: scale(0);
            -moz-transform: scale(0);
            -webkit-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
          }
          .uil-spin-css > div:nth-of-type(1) > div {
            -ms-animation: uil-spin-css 2.4s linear infinite;
            -moz-animation: uil-spin-css 2.4s linear infinite;
            -webkit-animation: uil-spin-css 2.4s linear infinite;
            -o-animation: uil-spin-css 2.4s linear infinite;
            animation: uil-spin-css 2.4s linear infinite;
            -ms-animation-delay: 0s;
            -moz-animation-delay: 0s;
            -webkit-animation-delay: 0s;
            -o-animation-delay: 0s;
            animation-delay: 0s;
            -webkit-transform: translate3d(0,0,0);
          }
          .uil-spin-css > div:nth-of-type(1) {
            -ms-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
            -moz-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
            -webkit-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
            -o-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
            transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
          }
          .uil-spin-css > div:nth-of-type(2) > div {
            -ms-animation: uil-spin-css 2.4s linear infinite;
            -moz-animation: uil-spin-css 2.4s linear infinite;
            -webkit-animation: uil-spin-css 2.4s linear infinite;
            -o-animation: uil-spin-css 2.4s linear infinite;
            animation: uil-spin-css 2.4s linear infinite;
            -ms-animation-delay: 0.3s;
            -moz-animation-delay: 0.3s;
            -webkit-animation-delay: 0.3s;
            -o-animation-delay: 0.3s;
            animation-delay: 0.3s;
          }
          .uil-spin-css > div:nth-of-type(2) {
            -ms-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
            -moz-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
            -webkit-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
            -o-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
            transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
          }
          .uil-spin-css > div:nth-of-type(3) > div {
            -ms-animation: uil-spin-css 2.4s linear infinite;
            -moz-animation: uil-spin-css 2.4s linear infinite;
            -webkit-animation: uil-spin-css 2.4s linear infinite;
            -o-animation: uil-spin-css 2.4s linear infinite;
            animation: uil-spin-css 2.4s linear infinite;
            -ms-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            -webkit-animation-delay: 0.6s;
            -o-animation-delay: 0.6s;
            animation-delay: 0.6s;
          }
          .uil-spin-css > div:nth-of-type(3) {
            -ms-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
            -moz-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
            -webkit-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
            -o-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
            transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
          }
          .uil-spin-css > div:nth-of-type(4) > div {
            -ms-animation: uil-spin-css 2.4s linear infinite;
            -moz-animation: uil-spin-css 2.4s linear infinite;
            -webkit-animation: uil-spin-css 2.4s linear infinite;
            -o-animation: uil-spin-css 2.4s linear infinite;
            animation: uil-spin-css 2.4s linear infinite;
            -ms-animation-delay: 0.9s;
            -moz-animation-delay: 0.9s;
            -webkit-animation-delay: 0.9s;
            -o-animation-delay: 0.9s;
            animation-delay: 0.9s;
          }
          .uil-spin-css > div:nth-of-type(4) {
            -ms-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
            -moz-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
            -webkit-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
            -o-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
            transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
          }
          .uil-spin-css > div:nth-of-type(5) > div {
            -ms-animation: uil-spin-css 2.4s linear infinite;
            -moz-animation: uil-spin-css 2.4s linear infinite;
            -webkit-animation: uil-spin-css 2.4s linear infinite;
            -o-animation: uil-spin-css 2.4s linear infinite;
            animation: uil-spin-css 2.4s linear infinite;
            -ms-animation-delay: 1.2s;
            -moz-animation-delay: 1.2s;
            -webkit-animation-delay: 1.2s;
            -o-animation-delay: 1.2s;
            animation-delay: 1.2s;
          }
          .uil-spin-css > div:nth-of-type(5) {
            -ms-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
            -moz-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
            -webkit-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
            -o-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
            transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
          }
          .uil-spin-css > div:nth-of-type(6) > div {
            -ms-animation: uil-spin-css 2.4s linear infinite;
            -moz-animation: uil-spin-css 2.4s linear infinite;
            -webkit-animation: uil-spin-css 2.4s linear infinite;
            -o-animation: uil-spin-css 2.4s linear infinite;
            animation: uil-spin-css 2.4s linear infinite;
            -ms-animation-delay: 1.5s;
            -moz-animation-delay: 1.5s;
            -webkit-animation-delay: 1.5s;
            -o-animation-delay: 1.5s;
            animation-delay: 1.5s;
          }
          .uil-spin-css > div:nth-of-type(6) {
            -ms-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
            -moz-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
            -webkit-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
            -o-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
            transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
          }
          .uil-spin-css > div:nth-of-type(7) > div {
            -ms-animation: uil-spin-css 2.4s linear infinite;
            -moz-animation: uil-spin-css 2.4s linear infinite;
            -webkit-animation: uil-spin-css 2.4s linear infinite;
            -o-animation: uil-spin-css 2.4s linear infinite;
            animation: uil-spin-css 2.4s linear infinite;
            -ms-animation-delay: 1.8s;
            -moz-animation-delay: 1.8s;
            -webkit-animation-delay: 1.8s;
            -o-animation-delay: 1.8s;
            animation-delay: 1.8s;
          }
          .uil-spin-css > div:nth-of-type(7) {
            -ms-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
            -moz-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
            -webkit-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
            -o-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
            transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
          }
          .uil-spin-css > div:nth-of-type(8) > div {
            -ms-animation: uil-spin-css 2.4s linear infinite;
            -moz-animation: uil-spin-css 2.4s linear infinite;
            -webkit-animation: uil-spin-css 2.4s linear infinite;
            -o-animation: uil-spin-css 2.4s linear infinite;
            animation: uil-spin-css 2.4s linear infinite;
            -ms-animation-delay: 2.1s;
            -moz-animation-delay: 2.1s;
            -webkit-animation-delay: 2.1s;
            -o-animation-delay: 2.1s;
            animation-delay: 2.1s;
          }
          .uil-spin-css > div:nth-of-type(8) {
            -ms-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
            -moz-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
            -webkit-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
            -o-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
            transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
          }
           </style> <div class='uil-spin-css' style='-webkit-transform:scale(0.6)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>