doctype html
html
  head
    title ВЕДОМОСТИ
    meta charset='utf-8'
    /= stylesheet_link_tag 'application', media: 'all'
    = render 'assets'
    = javascript_include_tag 'application'
    = javascript_include_tag 'id'
    meta{name='viewport' content='width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no'}
    meta {content="yes" name="apple-mobile-web-app-capable"}
    meta {content="yes" name="mobile-web-app-capable"}
    meta {content="320" name="MobileOptimized"}
    meta {content="Качественный контент о бизнесе и экономике" name='description'}
    meta { property="og:description" content="Качественный контент о бизнесе и экономике" }
    meta {name="og:image" content=asset_url('chopick.jpg') }
    = favicon_link_tag 'vedomosti.gif'
    = favicon_link_tag 'vedomosti.png'
    = render 'application/facebook_pixel'
body.p-mobile.p-mobile--new{mobile-operator ng-app='Sea'}
  .b-header
    a.logo {href=Settings.hosts.shark }
      = image_tag'vedomosti.svg',width: 175, height: 32
    .b-header__16plus
      = image_tag'16plus.png', width: 20, height: 19
  /.b-disclaimer = 'Мобильная подписка'

  = yield

  - if Rails.env.production?
    = render 'counters'
