javascript:
  return_url = "#{@return_url}"
form{name='of' ng-submit='getRedirect()'}
  .b-content.ng-cloak
    .b-description = 'Выберите своего мобильного оператора'
    .b-form {ng-init='operators={"mts": "МТС", "beeline": "Билайн", megafon: "МегаФон", "tele2": "Теле2"}'}
      label.b-form__element.b-form__element--select {for='operator' ng-init='operator="#{@operator || '-1'}"'}
        .b-selected {ng-bind='operators[operator] || "Выберите"'} = "#{@operator || 'Выберите'}"
        select.b-input.b-input--operator {name='operator' id='operator' ng-model='operator' required}
          option {value='mts'} = 'МТС'
          option {value='beeline'} = 'Билайн'
          option {value='megafon'} = 'МегаФон'
          option {value='tele2'} = 'Теле2'
  .b-content
    .b-description = 'Укажите ваш номер'
    .b-form
      label.b-form__element.b-form__element--phone {for='phone' }
        input.b-input.b-input--phone {required type='tel' mask="+7 (999) 999-9999" ng-model='phone' placeholder='+7 (    )' ng-focus='phoneFocus($event)' ng-blur='phoneBlur()' }
        input.b-input.b-input--phone {type='hidden' ng-value='phone | phoneFilter' name='phone'}
      .b-form__element.b-form__element--submit
        button.b-input.b-input--submit { ng-disabled='!of.$valid || operator==-1 || !(phone && phone.length>2)'}
          = 'Отправить'
    .b-log-in
      = 'Если вашего оператора нет в списке, то оформите '
      a {href=Settings.hosts.metynnis } = 'полную подписку'
      = ' на «Ведомости»'
= render "mobile/boom/paywall_event.js"
