.b-content.b-content--code{ng-init='sendEvent("phoneSubmit")'}
  .b-description = 'Введите код, который мы только что отправили на ваш номер'
  form.b-form {action="#{Settings.hosts.metynnis}/id/mobile/codes/check" method='POST' name='codeForm'}
    label.b-form__element.b-form__element--code {for='code' class="#{ @errors ? 'b-form__element--error' : ''}" }
      input.b-input.b-input--code {required type='number' placeholder='SMS-код' name='code'  minlength="2" ng-model='code'}
    - if  @errors
      .b-error = 'Вы указали неверный SMS-код. Повторите ввод и нажмите кнопку «Отправить».'
    .b-form__element.b-form__element--submit
      input.b-input.b-input--submit {type='submit' value='Перейти к чтению' ng-disabled='!codeForm.$valid' ng-click='sendEvent("codeSubmit")'}

  .b-log-in
    = 'Для повторной отправки SMS'
    br
    a {href="#" onclick='document.getElementById("resend").submit()'} = 'нажмите здесь'
    form#resend.b-form {action="#{Settings.hosts.metynnis}/id/mobile/codes" method='POST' name='authForm'}
      input {type="hidden" value="#{@msisdn}" name='phone'}