.b-content {ng-init='sendEvent("auth")'}
  .b-description = 'Если у вас уже оплачена мобильная подписка на vedomosti.ru, укажите ваш номер. Мы отправим на него код подтверждения'

  form.b-form {action="#{Settings.hosts.metynnis}/id/mobile/codes" method='POST' name='authForm'}
    - if @error
      .b-form__error
        span = 'У вас нет действующей мобильной подписки'
    label.b-form__element.b-form__element--phone {for='phone' class="#{@error ? 'b-form__element--error': ''}"}
      input.b-input.b-input--phone {required type='tel' mask="+7 (999) 999-9999" ng-model='phone' placeholder='+7 (    )' name='phone' ng-focus='phoneFocus($event)' ng-blur='phoneBlur()'}
    .b-form__element.b-form__element--submit
      input.b-input.b-input--submit {type='submit' value='Получить код' ng-disabled='!authForm.$valid || !(phone && phone.length>2)'}
  .b-log-in
    = 'Если у вас действует полная подписка на «Ведомости», '
    a {href="#{Settings.hosts.lago }/sign_in"} = 'войдите c помощью логина и пароля'