- message = capture
  h5 К сожалению, ваш аккаунт заблокирован
  p Вы были заблокированы, так как не активировали учетную запись. Вам на почту отправлено письмо со ссылкой для активации аккаунта.

= render 'alert', kind: :error, message: message