- message = capture
  h5 Ваш аккаунт соцсети связан с&nbsp;аккаунтом&nbsp;Ведомостей
  p Ранее вы использовали указанный в аккаунте электронный адрес для регистрации на Ведомостях.
  p На данный адрес отправлено письмо для подтверждения связи аккаунта социальной сети и учетной записи.
  
= render 'alert', kind: :success, message: message
