.id-form
  .row

    .col-md-5
      - if !defined?(hide_social_auth)
        = render 'register/oauth_links'

    .col-md-7.dotted
      .wrap
        h5 Вход на сайт
        - render_title('Вход на сайт')

        = form_for @sign_in_form, url: { controller: 'session', action: 'sign_in_with_password', layout: params[:layout] }, html: { 'ng-submit' => 'submit($event)', name: 'form', autocomplete: :off } do |f|

          .field-with-icon
            .icon-holder
              .icons-sprite.icons-login
            = f.text_field :email, placeholder: 'E-mail', 'ng-model' => 'sign_in_form.email', autocomplete: false
            - if @sign_in_form.errors[:email].present?
              .error= @sign_in_form.errors[:email].first

          .field-with-icon
            .icon-holder
              .icons-sprite.icons-lock
            = f.password_field :password, placeholder: 'Пароль', 'ng-model' => 'sign_in_form.password', autocomplete: false
            - if @sign_in_form.errors[:password].present?
              .error= @sign_in_form.errors[:password].first

          =
          = link_to 'Забыли пароль?', "#{Settings.hosts.lago}#{password_reset_email_form_path}", class: 'underline'

          button{type='submit'} Войти
