.id-auth

  .tabs
    height: 60px

    +breakpoint($small)
      font-size: 13px

  a.tab
    cursor: pointer
    display: inline-block
    background-color: #e3d1c7
    height: 60px
    line-height: 60px
    text-decoration: none
    color: #332f2e
    padding: 0 30px
    position: relative
    z-index: 1
    bottom: -1px
    vertical-align: bottom
    height: 55px
    border-left: 1px solid #e3d1c7
    border-right: 1px solid #e3d1c7
    font-family: 'Roboto Condensed', sans-serif !important

    +breakpoint($small)
      padding: 0 20px
      height: 55px

    span
      position: relative
      top: -4px

  a.active
    background-color: #fff6f1
    border-top: 1px solid #e3d1c7
    height: 60px

    span
      top: 0
