input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
  display: none
.id-form
  border: 1px solid #e3d1c7
  padding: 30px 70px
  background-color: #fff6f1
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
  color: #332f2e
  .message
    margin-bottom: 30px

  h5
    font-size: 21px
    font-weight: bold
    margin-bottom: 25px
    margin-top: 0
    font-family: 'Roboto Condensed' !important

  a
    font-family: 'Roboto Condensed' !important

  +breakpoint($small)
    padding: 35px 15px

    h5
      margin-bottom: 15px

    .message
      margin-bottom: 15px

  .dotted
    border-left: 1px dotted #e3d1c7

    +breakpoint($iphone)
      border-left: 0
      .wrap
        border-left: 0
        border-top: 1px dotted #e3d1c7
        margin-top: 15px
        padding-top: 15px

    +breakpoint($small)
      border-left: 0
      .wrap
        border-left: 0
        border-top: 1px dotted #e3d1c7
        margin-top: 25px
        padding-top: 25px

  .underline
    float: right
    display: inline-block
    font-size: 15px
    line-height: 45px
    text-decoration: underline

  .field_with_errors
    input[type=password], input[type=text], textarea
      margin-bottom: 5px
      border: 2px solid #dc8a8a
      &:focus
        padding-left: 12px

  .error
    margin-bottom: 10px
    color: #b55757

    +breakpoint($iphone)
      font-size: 14px

    +breakpoint($small)
      font-size: 14px

  .field-with-icon
    .field_with_errors
      input[type=password], input[type=text], textarea
        &:focus
          padding-left: 70px


  label
    color: #857871
    margin-bottom: 5px
    display: block

  input[type=password], input[type=text], textarea
    width: 100%
    border: 1px solid #e3d1c7
    height: 43px
    line-height: 43px
    padding: 0 12px
    font-size: 18px
    margin-bottom: 15px
    color: black
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1) inset
    font-family: 'Roboto Condensed', sans-serif
    +box-sizing(border-box)

  input, textarea
    &::placeholder
      color: #857871

  input, textarea
    &:focus
      outline: none
      border: 2px solid #e3d1c7
      padding-left: 11px

  button
    &:focus
      outline: none

  button, .button
    +default_button(177, $button_font, #2e6f6f )

  .field-with-icon
    position: relative

    input[type=password], input[type=text], textarea
      padding-left: 70px
      &:focus
        padding-left: 69px

    .icon-holder
      position: absolute
      left: 0
      top: 8px
      width: 54px
      height: 29px
      border-right: 1px solid #dad6d4

    .icons-sprite
      display: block
      z-index: 2
      position: absolute
      width: 16px
      height: 16px
      top: 6px
      left: 19px

  .checkbox
    margin-bottom: 15px
    font-size: 14px
    color: #857871
    input
      position: relative
      top: -1px
      margin-right: 10px

    label
      display: inline-block

  .checkbox2
    margin-bottom: 15px
    font-size: 18px
    color: #857871
    position: relative
    input
      position: relative
      top: -1px
      margin-right: 10px
      position: absolute
      top: 4px

    label
      display: inline-block
      margin-left: 24px


.id-form__mini
  .password-field
    input[type="password"], input[type="text"]

      width: 100%
  input[type="text"], .password-field
    width: 60%

    +breakpoint($ipad)
      width: 100%

    +breakpoint($iphone)
      width: 100%

    +breakpoint($small)
      width: 100%
.password-field
  position: relative
  .password-field__reveal
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    position: absolute
    background: inline-image('reveal-password.svg') no-repeat
    height: 24px
    width: 24px
    top: 10px
    margin: 0
    right: 12px
    opacity: 0.3
    cursor: pointer