.id-alert
  color: #332f2e
  padding: 60px 100px
  text-align: center
  border: 1px solid #e3d1c7
  background-color: #fff6f1
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1)

  +breakpoint($iphone)
    padding: 60px 65px

  +breakpoint($small)
    padding: 30px 20px

  h5
    margin-top: 0
    color: #332f2e
    font-family: 'Roboto Slab', sans-serif
    font-size: 36px
    font-weight: normal

    +breakpoint($small)
      font-size: 24px

.id-alert_error
  background-color: #ffdcdc
  border: 2px solid #dc8a8a
