- if @user
  .b-user{ng-init="initUser('#{@user[:first_name]}', '#{@user[:last_name]}', '#{@user[:phone]}', '#{@user[:email]}')"}
    .b-user__inner
      .b-user__text
        span.icons-sprite.icons-portrait
        span.name
          | {{user.first_name}} {{user.last_name}}

      form.b-user__exit{action="#{Settings.hosts.lago}/sign_out"}
        button{type='submit'}
          span.text
            | Выйти