- render_title 'Профиль пользователя'
- if @user_data[:status] == 'registered'
  id-repeat-letter
    .b-message
      p.b-message_error{ng-show="isSended == 0"}
        | Ваш аккаунт не подтвержден. Перейдите по ссылке из письма, которое мы отправили вам при регистрации. Если вы не можете найти это письмо, то проверьте e-mail, указанный вами в личном кабинете, и воспользуйтесь кнопкой «Отправить повторно»
      p.b-message_error{ng-show="isSended == 1"}
        | Письмо со ссылкой для подтверждения аккаунта отправлено на ваш e-mail.
      p.b-message_error{ng-show="isSended == 2"}
        | Вы уже отправляли письмо и подтвердили аккаунт.
      button.b-button.b-button_error{ng-show="isSended == 0" ng-click="sendLetter($event)"} Отправить повторно

.id-form.id-profile{id-profile-form}
  .row
    .col-md-12
      - if !(@access_rights.present? && has_active_subscription(@access_rights))
        .b-subscription-warning
          .b-subscription-warning__text = 'У вас нет активной подписки'
          .b-subscription-warning__button
            a.b-button.b-button--subscribe {href="#{Settings.hosts.metynnis}"} = 'Оформить подписку'
      = form_for @form, url: users_update_path do |f|
        h5 Профиль

        .section
          .left
            .wrap
              = f.label :first_name, 'Имя'
              = f.text_field :first_name
              - if @form.errors[:first_name].present?
                .error= @form.errors[:first_name].first

              = f.label :email, 'E-mail'
              = f.text_field :email
              - if @form.errors[:email].present?
                .error= @form.errors[:email].first

          .right
            .wrap
              = f.label :last_name, 'Фамилия'
              = f.text_field :last_name
              - if @form.errors[:last_name].present?
                .error= @form.errors[:last_name].first

              = f.label :phone, 'Телефон'
              = f.text_field :phone, 'mask' => '+9 (999) 999-99-99', 'ng-init' => "profile.phone='#{@form.phone}'",'ng-model' => 'profile.phone', 'mask-restrict' => 'reject'
              - if @form.errors[:phone].present?
                .error= @form.errors[:phone].first

        h5.margin Сменить пароль

        .section

          .left
            .wrap
              = f.label :password, 'Новый пароль'
              = f.password_field :password
              - if @form.errors[:password].present?
                .error= @form.errors[:password].first

          .right
            .wrap
              = f.label :password_confirmation, 'Подтверждение'
              = f.password_field :password_confirmation
              - unless @form.valid?
                .error= @form.errors[:password_confirmation].first

        - if @user_data[:status] == 'confirmed'
          h5.margin Рассылка

          .section
            - @form.mail_types.each do |mail_type|
              .checkbox2
                = f.check_box :mail_types, {multiple: true, 'ng-checked' => mail_type[:checked], 'checklist-model' => 'profile.mail_types', 'checklist-value' => mail_type[:id]}, mail_type[:id], nil
                = f.label "mail_types_#{mail_type[:id]}", {style: ''}
                  | Получать ежедневную рассылку «#{mail_type[:title]}»

            .actions
              button{type='submit'} Сохранить
              - if @password_updated
                span.message Ваш пароль изменён
              - if @mail_types_updated
                span.message Ваш список рассылок обновлен

        - if @access_rights.present?
          /- active = active_subscription(@access_rights)
          - if has_active_subscription(@access_rights)


            .subscriptions
              h5.line Активная подписка
              input {name="profile_form[autopay]" id="activeVal" type="hidden" value="#{@user_data[:autopay]}"}
              .section.mobile-hide {class="#{has_active_subscription(@access_rights) ? 'section--no-margin' : ''}"}
                .row
                  .col-md-12.table-reflow
                    table.table.cf
                      thead.cf
                        tr
                          th №
                          th Начало
                          th Окончание
                          th Стоимость, руб
                          th Способ оплаты
                          th Продукт
                      tbody
                        - @access_rights.each do |access_right|
                          - if Time.parse(access_right[:end_date]) > Time.now && access_right[:paymethod]
                            tr {class="#{Time.parse(access_right[:end_date]) > Time.now && access_right[:paymethod] && access_right[:paymethod][:slug] == 'card' ? 'active' : ''}"}
                              th = access_right[:payment_id] || raw('&nbsp;')
                              td = access_right[:start_date]|| raw('&nbsp;')
                              td = access_right[:end_date]|| raw('&nbsp;')
                              td = access_right[:price]|| raw('&nbsp;')
                              td = access_right[:paymethod] && access_right[:paymethod][:title] || raw('&nbsp;')
                              td  #{access_right[:product]} (#{access_right[:period]})

              .section.mobile-show
                .row
                  .col-md-12{ng-init='shown=0'}
                    - @access_rights.each_with_index do |access_right, i|
                      - if Time.parse(access_right[:end_date]) > Time.now && access_right[:paymethod]
                        .b-subscription
                          .b-accordion
                            .b-accordion__head
                              .b-sub-row
                                .b-sub-row__cell = "Заказ №#{access_right[:payment_id]}"
                                .b-sub-row__cell
                                  span.icons-sprite.icons-plus-circle {ng-show="shown!=#{i}" ng-click='shown=#{i}'}
                                  span.icons-sprite.icons-minus-circle {ng-show="shown==#{i}" ng-click='shown=-1'}
                            .b-accordion__body {ng-show="shown==#{i}"}
                              .b-sub-row
                                .b-sub-row__cell = 'Начало'
                                .b-sub-row__cell = access_right[:start_date]|| raw('&nbsp;')
                              .b-sub-row
                                .b-sub-row__cell = 'Окончание'
                                .b-sub-row__cell = access_right[:end_date]|| raw('&nbsp;')
                              .b-sub-row
                                .b-sub-row__cell = 'Стоимость, руб'
                                .b-sub-row__cell = access_right[:price]|| raw('&nbsp;')
                              .b-sub-row
                                .b-sub-row__cell = 'Способ оплаты'
                                .b-sub-row__cell = access_right[:paymethod] && access_right[:paymethod][:title] || raw('&nbsp;')
                              .b-sub-row
                                .b-sub-row__cell = 'Продукт'
                                .b-sub-row__cell = access_right[:product]|| raw('&nbsp;')
                                /&& access_right[:paymethod][:slug] == 'card'
          - if @user_data[:next_billing] && @user_data[:autopay]
            .subscriptions
              h5.line.line-autopay Автоплатеж
              .autopay
                .checkbox2
                  input {type='checkbox' id='enabled' ng-model="profile.enabled" ng-init="profile.enabled = #{@user_data[:autopay]}" class='green' ng-change='messageShown=true'}
                  label = "Услуга включает \"Автоплатеж\". #{Time.parse(@user_data[:next_billing][:date]).strftime('%d.%m.%Y')} c вашей банковской карты автоматически спишется #{@user_data[:next_billing][:summ].to_i} рублей за оплату подписки на следующий период."


          - if @access_rights.any? {|access_right| !(Time.parse(access_right[:end_date]) > Time.now && access_right[:paymethod]) }
            .subscriptions
              h5.line История покупок
              .section.mobile-hide {class="#{has_active_subscription(@access_rights) ? 'section--no-margin' : ''}"}
                .row
                  .col-md-12.table-reflow
                    table.table.cf
                      thead.cf
                        tr
                          th №
                          th Начало
                          th Окончание
                          th Стоимость, руб
                          th Способ оплаты
                          th Продукт

                      tbody
                        - @access_rights.each do |access_right|
                          - if !(Time.parse(access_right[:end_date]) > Time.now && access_right[:paymethod])
                            tr {class="#{Time.parse(access_right[:end_date]) > Time.now && access_right[:paymethod] && access_right[:paymethod][:slug] == 'card' ? 'active' : ''}"}
                              th = access_right[:payment_id] || raw('&nbsp;')
                              td = access_right[:start_date]|| raw('&nbsp;')
                              td = access_right[:end_date]|| raw('&nbsp;')
                              td = access_right[:price]|| raw('&nbsp;')
                              td = access_right[:paymethod] && access_right[:paymethod][:title] || raw('&nbsp;')
                              td  #{access_right[:product]} (#{access_right[:period]})

                    .hint По всем вопросам связанным с подпиской обращайтесь: +7 (495) 232 17 53, <a href="mailto:podpiska@vedomosti.ru">podpiska@vedomosti.ru</a>
              .section.mobile-show
                .row
                  .col-md-12
                    - @access_rights.each_with_index do |access_right, i|
                      - if !(Time.parse(access_right[:end_date]) > Time.now && access_right[:paymethod])
                        .b-subscription
                          .b-accordion
                            .b-accordion__head
                              .b-sub-row
                                .b-sub-row__cell = "Заказ №#{access_right[:payment_id]}"
                                .b-sub-row__cell
                                  span.icons-sprite.icons-plus-circle {ng-show="shown!=#{i}" ng-click='shown=#{i}'}
                                  span.icons-sprite.icons-minus-circle {ng-show="shown==#{i}" ng-click='shown=-1'}
                            .b-accordion__body {ng-show="shown==#{i}"}
                              .b-sub-row
                                .b-sub-row__cell = 'Начало'
                                .b-sub-row__cell = access_right[:start_date]|| raw('&nbsp;')
                              .b-sub-row
                                .b-sub-row__cell = 'Окончание'
                                .b-sub-row__cell = access_right[:end_date]|| raw('&nbsp;')
                              .b-sub-row
                                .b-sub-row__cell = 'Стоимость, руб'
                                .b-sub-row__cell = access_right[:price]|| raw('&nbsp;')
                              .b-sub-row
                                .b-sub-row__cell = 'Способ оплаты'
                                .b-sub-row__cell = access_right[:paymethod] && access_right[:paymethod][:title] || raw('&nbsp;')
                              .b-sub-row
                                .b-sub-row__cell = 'Продукт'
                                .b-sub-row__cell = access_right[:product]|| raw('&nbsp;')

                .hint По всем вопросам связанным с подпиской обращайтесь: +7 (495) 232 17 53, <a href="mailto:podpiska@vedomosti.ru">podpiska@vedomosti.ru</a>
      .b-logout
        a.b-button.b-button--logout {href='/sign_out/'} = 'Выйти из аккаунта'
  .b-message-wrapper.ng-cloak {ng-show='messageShown'}

    .b-message
      .b-message__close {ng-click='messageShown = false; profile.enabled=!profile.enabled' ng-show='!processing'}
        span.icons-sprite.icons-exit-tan
      .b-message__title
        | Внимание!
      .b-message__text = 'Вы отключаете автоматическое продление подписки на "Ведомости". Вернуть автоплатеж вы сможете при следующем заказе.'
      .b-message__button {ng-show='!processing'}
        button.b-button { ng-click='accept()'} = 'Отключить'
      a.b-message__close-link {ng-click='messageShown = false; profile.enabled=!profile.enabled'} = 'Сохранить автопродление'
