- if @success
  /удачный ответ от сервера
  .row
    .col-md-12
      .id-form
        .row
          .col-md-12
            h5 Проверьте Вашу почту
            .message
              | На указанный Вами адрес электронной почты отправлено письмо.
              br
              | Для подтверждения подписки на рассылку «#{@mail_type.title}» пройдите по ссылке. Убедитесь, что письмо не попало в спам.
              br
              br
              | С уважением,
              br
              | «Ведомости» +7 (495) 232-17-53
- else
  .id-form.id-form__mini
    .row
      .col-md-12
        h5 Подписка на рассылку
        .message Укажите E-mail, на которую вы хотите получать рассылку «#{@mail_type.title}».
        = form_for(@subscribe_form, url: subscribe_send_path(slug: @subscribe_form.type_slug), html: { form: :form, 'ng-submit' => 'submit($event)' }) do |f|
          = f.text_field :email, value: @subscribe_form.email, placeholder: 'E-mail', 'ng-model' => 'subscribe_form.email'
          = f.hidden_field :type_slug, value: @subscribe_form.type_slug
          - if @subscribe_form.errors[:email].present?
            .error = @subscribe_form.errors[:email].first
          .actions
            button{type='submit'} Отправить
