/ шаблон который выводится, когда пользователь подтверждает подписку
/ в данных приходит @contact и @mail_type
/ надо сказать что поздравляем, вы подписаны
.row
  .col-md-12
    .id-form
      .row
        .col-md-12
          h5 Подписка на рассылку
          .message
            | Поздравляем, вы успешно подписались на рассылку «#{@mail_type.title}».
            br
            | Отписаться от рассылки можно по ссылке из письма.
          =link_to "Перейти на Vedomosti.ru", "#{Settings.hosts.shark}"