/ шаблон, который выдается пользователю, когда он нажал в письме ссылку "отписаться"
/ как парамеры передаются @token, @contact и @mail_type
/ если токен правильный выдается текст
/ "сожалеем, что вы отписались..."
.container
  .row
    .col-md-12
      .id-form
        .row
          .col-md-12
            h5 Подписка отменена
            .message Адрес #{@contact.email} из списка рассылки «#{@mail_type.title}» удален.
            =link_to "Перейти на Vedomosti.ru", Settings.hosts.shark
