javascript:
  return_url = "#{@return_url}"
.b-content.b-content--landing {ng-init="sendCustomEvent(['send','pageview','/virtual/page_mobile_subscription',{'nonInteraction': true}])"}
  .b-disclaimer {ng-click='event()'}
    .b-disclaimer__text = 'Материал для подписчиков'
    .b-lock
      = image_tag 'svg/lock.svg', width: 26, height: 26
  .b-description.b-description--small
    - if owl_state != 'guest'
      = link_to 'Восстановите доступ', "/id/mobile/codes/new?returnUrl=#{return_url}"
      |, если у вас уже есть мобильная подписка, или оформите подписку
    - else
      = link_to 'Войдите', "#{Settings.hosts.lago}/sign_in"
      = ' с помощью логина и пароля, '
      = link_to 'восстановите', "/id/mobile/codes/new?returnUrl=#{return_url}"
      |  мобильную подписку или подпишитесь прямо сейчас:

    .b-description.b-description--small
  .container.container--prices {accordion style='height: 58px'}
    .b-container__wrapper
      .b-container__header {ng-click='toggle()'}
        span.b-triangle
        .b-container__price
          span = '490'
          | руб. в месяц
        .b-container__title
          = 'Online'
          small = 'Полная подписка'

      .b-container-description
        .b-container-description__logo
          = image_tag 'svg/devices.svg', width: 89, height: 30
      .b-container__button
        .b-form
          .b-form__element.b-form__element--submit
            a.b-input.b-input--submit {href= Settings.hosts.metynnis ng-click='sendEvent("mobile", "#{operator}")'} = 'Подписаться'
      ul.b-perks
        li.perks__perk = 'Доступ ко всем материалам с любых устройств'
        li.perks__perk = 'Ежедневная email-рассылка с анонсами свежего номера'
        li.perks__perk = 'Участие в обсуждении материалов на сайте'

  .container.container--prices.container--opened {accordion='opened'}
    .b-container__wrapper
      .b-container__header {ng-click='toggle()'}
        span.b-triangle
        .b-container__price
          span = '3'
          | руб. в день
        .b-container__title
          = 'Mobile'
          small = 'Мобильная подписка'
      .b-container-description
        .b-container-description__logo
          = image_tag 'svg/phone.svg', width: 15, height: 23
        .b-container-description__text = 'Действует только на смартфоне'
      .b-container__button
        .b-form
          .b-form__element.b-form__element--submit
            a.b-input.b-input--submit {href= '#{Settings.hosts.metynnis}/paywall_mobile/#{operator}?returnUrl=#{return_url}' ng-click='sendEvent("mobile", "#{operator}")'} = 'Подписаться'
      ul.b-perks
        li.perks__perk = 'Удобная оплата со счета мобильного'
        li.perks__perk = 'Ежедневное автоматическое списание'
        li.perks__perk = 'Доступ ко всем материалам в мобильной версии сайта'
= render "mobile/boom/paywall_event.js"