header.b-header_error
  = link_to "#{Settings.hosts.shark}" do
    = image_tag 'vedomosti.svg'

.b-error-body
  h1
    | Ошибка 404:
    br
    | страница не найдена


  p Страница, которую Вы запросили, не найдена на сервере «Ведомостей». Возможно, эта страница удалена, переименована или просто временно недоступна.
  h2 Попробуйте сделать следующее:
  ul
    li Проверьте правильность ввода адреса страницы в адресной строке браузера — возможно, вы ввели адрес кириллицей
    li Перейдите на главную страницу #{link_to 'www.vedomosti.ru', '/'} и воспользуйтесь поиском по сайту
    li Сообщите нам о неправильной ссылке
