angular.module('Sea')
  .constant 'Settings',
    host: '<%= Settings.hosts.lago %>'
    hosts:
      metynnis: '<%= Settings.hosts.metynnis %>',
      shark:    '<%= Settings.hosts.shark %>'
    cookie: '<%= Settings.cookie_domain %>'
