javascript:
  if (typeof params == 'undefined')
    var params = [];

  params.push({access_token: '#{@access_token}'});
  params.push({operator: '#{@operator}'});
  params.push({referer: '#{@return_url}'});

  if (typeof fire_event == "function")
    fire_event(params, {event: 'paywall'});
