.b-button
  +default_button(177, $button_font, #2e6f6f)

.b-button_error
  +default_button(177, $button_font, #b55757)

.b-button.b-button--logout
  margin: 40px 0
  +default_button(220, $button_font, #b55757)
  text-decoration: none
  &:hover
    color: white
