//стиль 404 ошибки
.b-error-body
  p,
  ul,
  h2,
  h1
    padding: 0
    display: block
    width: 80%
    margin: 0 auto
    +breakpoint($iphone)
      width: 90%

  h1
    text-align: center
    font-family: 'Roboto Slab Light', sans-serif
    font-size: 48px
    line-height: 48px
    font-weight: normal
    margin-top: 37px
    +breakpoint($iphone)
      text-align: left
      font-size: 32px
      line-height: 32px
      margin-top: 20px
    +breakpoint($small)
      text-align: left
      font-size: 32px
      line-height: 32px
      margin-top: 20px

  h2
    margin-top: 20px
    margin-bottom: 5px
    font-family: "Roboto Condensed", Arial, sans-serif
    font-weight: normal
    font-size: 21px
    color: $text
    padding: 0

  ul
    list-style-type: disc

  li
    font-family: Georgia, Arial, sans-serif
    font-size: 17px
    line-height: 21px
    color: $text

    list-style-position: inside
    margin-bottom: 10px


  p
    margin-top: 50px
    font-family: Georgia, Arial, sans-serif
    line-height: 21px
    font-size: 17px
    color: $text
    +breakpoint($iphone)
      margin-toP: 20px

  a
    color: $link!important