.b-header
  background-color: #fff6f1
  vertical-align: middle
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
  margin-bottom: 60px

  .col-md-12
    height: 105px
    line-height: 105px
    text-align: center
    position: relative
    +breakpoint(0 $screen-md)
      text-align: left


  +breakpoint($iphone)
    margin-bottom: 34px

  +breakpoint($small)
    margin-bottom: 34px

  .logo
    display: inline-block
    img
      display: inline-block
      vertical-align: middle
      width: 278px
      height: 51px

  +breakpoint($large)
    .logo
      img
        width: 345px
        height: 64px

  +breakpoint($iphone)
    .logo
      img
        width: 203px
        height: 51px

  +breakpoint($small)
    .logo
      img
        width: 203px
        height: 51px

  .message
    float: right
    display: inline-block
    vertical-align: top
    line-height: 25px
    margin-top: 25px

    .icons-exit
      width: 23px
      height: 22px

    .exit
      display: inline-block
      margin-left: 20px
      display: none
      a
        color: #857871
        &:hover
          color: black
      .icons-sprite
        margin-right: 5px
      span
        display: inline-block
        font-size: 14px
        vertical-align: middle

    .hint
      margin-left: 10px
      color: #857871
      font-family: 'Roboto Slab', sans-serif
      font-size: 17px
      display: inline-block
      vertical-align: middle
      padding-left: 5px
      border: none

    .user, .users
      display: inline-block
      vertical-align: middle

    .user
      width: 51px
      height: 52px

    .users
      width: 61px
      height: 52px

    +breakpoint($small)
      .users
        width: 38px
        height: 33px

      .user
        width: 33px
        height: 31px

      .hint
        font-size: 15px
        line-height: 18px

    +breakpoint($iphone)
      .users
        width: 38px
        height: 33px

      .user
        width: 33px
        height: 31px

      .hint
        font-size: 15px
        line-height: 18px

  +breakpoint($iphone)
    .col-md-12
      height: 120px
      line-height: 70px

    .message
      margin-top: 0
      height: 30px
      line-height: 30px
      float: none !important
      display: block

  +breakpoint($small)
    .col-md-12
      height: 120px
      line-height: 70px

    .message
      margin-top: 0
      height: 30px
      line-height: 30px
      float: none !important
      display: block

  .message_login, .message
    position: absolute
    right: 50px
    top: 0
    +breakpoint($iphone)
      position: static
    +breakpoint($small)
      position: static
    .hint
      padding-right: 20px
      //border-right: 1px solid #e3d1c7
.b-ved-link
  float: left

  position: absolute
  left: 50px
  top: 0
  .b-ved-link__logo
    vertical-align: baseline
    display: inline-block

  .b-ved-link__text
    @extend .b-ved-link__logo
    +font($link, $font2, 18, 16)
    text-decoration: none
    position: relative
    top: -3px
    margin-left: 10px
    &:hover
      color: $link
      text-decoration: underline
    +breakpoint(0 $ipad)

  +breakpoint(0 $iphone)
    position: absolute
    right: 50px
    left: auto
    line-height: 1
    top: 50%
    margin-top: -8px
    padding-right: 30px
  +breakpoint($small)
    display: none
    .b-ved-link__logo
      position: absolute
      top: 0
      right: 0
    .b-ved-link__text
      position: static
      white-space: nowrap