.b-message
  margin: -40px 70px 40px 70px
  +breakpoint($iphone)
    margin-top: -10px
  +breakpoint($small)
    margin: -10px 15px 50px 15px

  
.b-message_error
  color: #b55757

.b-message_success
  color: #2e6f6f
