.id-profile
  .b-subscription-warning
    padding: 10px 0 35px
    border-bottom: 1px solid $border2
    margin-bottom: 30px
    .b-subscription-warning__text
      color: $additional_text
      float: left
      margin-top: 9px
    .b-subscription-warning__button
      text-align: right
    .b-button.b-button--subscribe
      color: white
      width: 220px
      text-decoration: none
    +breakpoint(0 $screen-sm)
      padding-top: 0

      .b-subscription-warning__text
        float: none
        margin-top: 0
        text-align: center
      .b-subscription-warning__button
        text-align: center
        margin-top: 15px

  .margin
    margin-top: 10px

  .line
    border-top: 1px dotted #e3d1c7
    padding-top: 10px
    margin-top: 10px

  .section
    margin-left: 0
    +clearfix
    &.section--no-margin
      margin-left: 0

    +breakpoint($ipad)
      margin-left: 0

    +breakpoint($iphone)
      margin-left: 0

    +breakpoint($small)
      margin-left: 0

  .left, .right
    width: 50%
    float: left

    +breakpoint($iphone)
      float: none
      width: 100%
      .wrap
        margin: 0 !important

    +breakpoint($small)
      float: none
      width: 100%
      .wrap
        margin: 0 !important

  .left
    .wrap
      margin-right: 20px

  .right
    .wrap
      margin-left: 20px

  .actions
    +clearfix
    padding: 27px 0px 45px

    button
      float: none

    .message
      float: right
      color: #97c1c1
      line-height: 45px
      margin-right: 20px

  .subscriptions
    font-size: 15px
    .line

      margin-top: 12px
      border-top: none
      margin-bottom: 25px
      &.line-autopay
        margin: 28px 0 12px

    +breakpoint($iphone)
      .number, .price
        display: none

    +breakpoint($small)
      .number, .price
        display: none


    table
      width: 100%
      label
        display: inline-block
        margin-left: 10px
        display: inline-block
        margin-left: 10px
        vertical-align: top
        position: relative
        top: 1px
    th, td
      text-align: left
      border-top: 1px dotted #e3d1c7
      border-bottom: 1px dotted #e3d1c7
      padding: 7px
      font-weight: normal

    td
      color: #857871

    .hint
      color: #857871
      font-size: 18px
      margin-top: 42px
      margin-bottom: 10px

.b-message-wrapper
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgba(0, 0, 0, 0.75)
  .b-message
    margin: auto
    position: absolute
    width: 740px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: white
    padding: 68px 115px 64px
    text-align: center
    +breakpoint($iphone)
      padding: 40px
      width: auto
      left: 15px
      right: 15px
      transform: translate(0, -50%)



    +breakpoint($small)
      padding: 40px
      width: auto
      left: 15px
      right: 15px
      transform: translate(0, -50%)
      .b-message__close
        right: 10px
        top: 10px

    .b-message__title
      font-family: $font1
      font-size: 30px
      line-height: 36px
      +breakpoint($small)
        font-size: 21px
        line-height: 24px

    .b-message__text
      font-family: Georgia, sans-serif
      font-size: 17px
      line-height: 21px
      margin-top: 7px

    .b-message__button
      margin-top: 45px
    .b-message__close
      position: absolute
      right: 20px
      top: 20px
      opacity: .7
      cursor: pointer
      &:hover
        opacity: 1
      +breakpoint($small)
        right: 10px
        top: 10px
    .b-message__close-link
      margin-top: 15px
      cursor: pointer
      display: inline-block
.icons-exit-tan
  width: 30px
  height: 30px
  display: block

.icons-plus-circle, .icons-minus-circle
  width: 13px
  height: 13px
  display: inline-block
  cursor: pointer


.b-subscription
  border-bottom: 1px solid #e3d1c7
  .b-sub-row
    white-space: nowrap

    .b-sub-row__cell
      display: inline-block
      vertical-align: top
      padding: 10px
      width: 50%
      &:last-child
        text-align: right
        color: #857871
      label
        display: inline-block
        margin-left: 10px
        display: inline-block
        margin-left: 10px
        vertical-align: top
        position: relative
        top: 1px
.b-accordion__head .b-sub-row__cell
  vertical-align: middle

.mobile-show
  display: none


.b-accordion__body
  .b-sub-row
    border-bottom: 1px dotted #e3d1c7
    &:last-child
      border: none
  background: rgba(227, 209, 199, 0.27)

+breakpoint(0 $screen-md)
  .mobile-show
    display: block
  .mobile-hide
    display: none

.autopay
  margin-bottom: 22px
  .checkbox2
    label
      font-size: 16px
      line-height: 18px