.switch
  background: $switch
  position: relative
  display: inline-block
  overflow: visible
  width: 35px
  height: 17px
  padding: 0px
  margin: 0px
  border-radius: 20px
  cursor: pointer
  transition: 0.2s ease-out all
  -webkit-transition: 0.2s ease-out all
  top: -1px

.switch small
  background: #fff
  border-radius: 100%
  width: 11px
  height: 11px
  position: absolute
  top: 3px
  left: 4px
  transition: 0.2s ease-out all
  -webkit-transition: 0.2s ease-out all
.switch.checked
  background: #9ec1c1
  border-color: rgb(100, 189, 99)
.switch.checked small
  left: 20px

/*styles for switch-text*/
.switch .switch-text
  font-family: Arial, Helvetica, sans-serif
  font-size: 13px


.switch .off
  display:block
  position: absolute
  right: 10%
  top: 25%
  z-index: 0
  color: #A9A9A9

.switch .on
  display: none
  z-index: 0
  color: #fff
  position: absolute
  top: 25%
  left: 9%

.switch.checked .off
  display: none

.switch.checked .on
  display: block


.switch.disabled
  opacity: .50
  cursor: not-allowed
