header
  &.b-header_error
    padding-bottom: 24px
    display: block
    min-height: inherit
    height:  auto
    box-shadow: none
    text-align: center
    background: none
    border-bottom: 1px solid $border2
    width: 80%
    margin: 90px auto 0
    min-width: 320px

    a
      display: inline-block

    img
      display: inline-block
      width: 345px

  +breakpoint($ipad)
    &.b-header_error
      img
        width: 278px
  +breakpoint($iphone)
    padding: 0 20px 10px
    height: 120px
    &.b-header_error
      width: 100%
      margin-top: 20px
      img
        width: 278px
  +breakpoint($small)
    padding: 0 20px 10px
    height: 120px
    &.b-header_error
      width: 100%
      margin-top: 20px
    &.b-header_error
      img
        width: 278px

.b-header__inner
  margin: 0 auto
  +breakpoint($large)
    width: 1170px
  +breakpoint($desktop)
    width: 870px
  +breakpoint($ipad)
    width: 670px
  +breakpoint($iphone)
    width: 100%
