.b-content {ng-init="sendCustomEvent(['send','pageview','/vitrual/page_email',{'nonInteraction': true}])"}

  .b-description
    = 'Ура! Вы успешно оформили мобильную подписку.'
  .b-description
    = 'Укажите ваш e-mail, чтобы перейти к чтению:'

  form.b-form {action='/mobile/subscribers' method='POST' name='form' }
    label.b-form__element.b-form__element--code {for='email' ng-class='{"b-form__element--error": !form.email.$valid && !form.email.$pristine && !focus}'}
      input.b-input.b-input--code {required type='email' placeholder='email' name='email' ng-model='email' ng-focus='focus=true' ng-blur='focus=false' }
    .b-error.ng-cloak {ng-show='!form.email.$valid && !form.email.$pristine && !focus'} = 'Вы указали неверный E-mail. Повторите ввод и нажмите кнопку «Далее».'
    .b-form__element.b-form__element--submit
      input.b-input.b-input--submit {type='submit' value='Далее' ng-disabled='!form.$valid' ng-click="sendCustomEvent(['send', 'event','Email_After_Mobile_Subs','Click_Button','Email_Form',{'nonInteraction': true}])"}
    a.b-form-button{href="#{@return_url}"} = 'Пропустить'
