@import variables
@import breakpoint
@import bootstrap/normalize
@import bootstrap/mixins
@import bootstrap/grid
@import bootstrap/responsive-utilities
@import vedomosti_mixins
@import blocks/**/*

*
  +box-sizing(border-box)
  -webkit-font-smoothing: antialiased

*:before, *:after
  +box-sizing(border-box)

body, html
  overflow-x: hidden

body
  background-color: #f8ede6
  padding-bottom: 150px

  +breakpoint($ipad)
    padding-bottom: 63px

  +breakpoint($iphone)
    padding-bottom: 34px
