@import compass/css3/font-face
+font-face('Roboto Slab Light', font-files('RobotoSlab-Light-webfont.ttf', 'RobotoSlab-Light-webfont.svg'), 'RobotoSlab-Regular-webfont.eot')
+font-face('Roboto Condensed', font-files('RobotoCondensed-Regular-webfont.ttf', 'RobotoCondensed-Regular-webfont.svg'), 'RobotoCondensed-Regular-webfont.eot')

@import variables
@import breakpoint
@import bootstrap/mixins
@import vedomosti_mixins
@import blocks/**/*

*
  +box-sizing(border-box)
  -webkit-font-smoothing: antialiased

*:before, *:after
  +box-sizing(border-box)

body, html
  overflow-x: hidden

body
  background-color: #f8ede6
  padding-bottom: 150px

  +breakpoint($ipad)
    padding-bottom: 63px

  +breakpoint($iphone)
    padding-bottom: 34px
