@import compass/css3/font-face

+font-face('Roboto Condensed', font-files('RobotoCondensed-Regular-webfont.ttf', 'RobotoCondensed-Regular-webfont.svg'), 'RobotoCondensed-Regular-webfont.eot')
+font-face('Roboto Condensed', font-files('RobotoCondensed-Bold-webfont.ttf', 'RobotoCondensed-Bold-webfont.svg'), 'RobotoCondensed-Bold-webfont.eot', bold)
+font-face('Roboto Slab', font-files('RobotoSlab-Regular-webfont.ttf', 'RobotoSlab-Regular-webfont.svg'), 'RobotoSlab-Regular-webfont.eot')

@import compass/utilities
@import compass/css3
@import compass/layout/sticky-footer
@import compass/utilities/print

+font-face('Fedra Sans Medium', font-files("WF-023789-008648-000226.woff",'WF-023789-008648-000226.ttf'), 'WF-023789-008648-000226.eot','normal','normal')
+font-face("Fedra Sans Demi", font-files("WF-023789-008648-000222.woff", 'WF-023789-008648-000222.ttf'), 'WF-023789-008648-000222.eot','normal','normal')

@import variables
@import breakpoint
@import bootstrap/mixins
@import bootstrap/grid
@import bootstrap/responsive-utilities
@import vedomosti_mixins
@import sprites
@import shared/**/*
@import mobile/*


.id
  font-family: 'Roboto Condensed', sans-serif
  font-size: 18px

  *
    +box-sizing(border-box)
    -moz-osx-font-smoothing: grayscale

  *:before, *:after
    +box-sizing(border-box)

  a
    color: #2e6f6f
    text-decoration: underline
    &:hover
      color: black


  .container
    +breakpoint($ipad)
      padding: 0 50px

    +breakpoint($iphone)
      padding: 0 10px

    +breakpoint($small)
      padding: 0 10px
