//mixin'ы, использующиеся во всех ведомостных проектах
//шрифт
@mixin font($color, $family, $size, $line-height: inherit, $style: inherit, $weight: inherit)
  font-family: $family
  @if $style == ''
    font-style: normal
  @else
    font-style: $style

  @if $line-height == 'inherit'
    line-height: inherit
  @else
    line-height: $line-height + px

  font-weight: $weight
  font-size: $size + px
  color: $color

//неработающий элемент
@mixin not-working
  background: rgba(255,0,0,0.2)!important
  opacity: 0.5!important

//стандартная кнопка
@mixin default_button($width, $family, $bg_color: rgb(46,111,111))
  display: inline-block
  outline: none
  border: 0
  padding: 0
  +font(rgb(255,255,255), $family, 18, 40)
  height: 45px
  width: $width + px
  text-align: center
  background: $bg_color
  border-bottom: 5px solid darken($bg_color, 10)
  border-radius: 0
  cursor: pointer
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15)

  &:hover
    background-color: darken($bg_color, 5)
    border-bottom-color: darken($bg_color, 10)

  &:active
    border-top: 5px solid lighten($bg_color, 3)!important
    background-color: $bg_color !important
    border-bottom: 0

  &.disabled:active
    opacity: 0.5
    background-color: $bg_color
    border-top: 0!important
    border-bottom: 5px solid darken($bg_color, 10)!important
    cursor: default

  &:disabled,
  &.disabled
    opacity: 0.5
    background-color: $bg_color
    border-bottom: 5px solid darken($bg_color, 10)
    cursor: default
