.id-socials
  h5 Быстрый вход
  a.btn.icons-sprite.icons-fb{href="#{Settings.hosts.lago}/auth/facebook"}
  a.btn.icons-sprite.icons-tw{href="#{Settings.hosts.lago}/auth/twitter"}
  a.btn.icons-sprite.icons-vk{href="#{Settings.hosts.lago}/auth/vkontakte"}
