.id-form{id-oauth-form}
  .row

    .col-md-5
      h5 Регистрация

      .hint
        | Уважаемый читатель, чтобы войти на <a href="http://vedomosti.ru">vedomosti.ru</a>, заполните недостающие поля своего профиля. Пожалуйста, укажите свои настоящие имя и фамилию.

    .col-md-7.dotted
      .wrap
        h5 &nbsp;

        = form_for(@form, url: { controller: 'register', action: 'sign_up_with_oauth', layout: params[:layout] },  html: { name: 'oauth_form' }) do |f|
          = f.text_field :email, placeholder: 'Email *'
          - if @form.errors[:email].present?
            .error= @form.errors[:email].first

          = f.text_field :last_name, placeholder: 'Фамилия *'
          - if @form.errors[:last_name].present?
            .error= @form.errors[:last_name].first

          = f.text_field :first_name, placeholder: 'Имя *'
          - if @form.errors[:first_name].present?
            .error= @form.errors[:first_name].first

          = f.text_field :phone, placeholder: 'Телефон', 'mask' => '+9 (999) 999-99-99', 'ng-init' => "oauth_form.phone ='#{@form.phone}'", 'ng-model' => 'oauth_form.phone'
          - if @form.errors[:phone].present?
            .error= @form.errors[:phone].first

          / .checkbox
          /   = f.check_box :mailing_type_slugs, {multiple: true, 'checklist-model' => 'oauth_form.mailing_type_slugs'}, "newsrelease", nil
          /   = label :password_registration_form, style: 'display: inline'
          /     | Я хочу получать ежедневную рассылку «Свежий номер «Ведомостей»

          .checkbox
            = f.check_box :rules, 'ng-model' => 'rules'
            = label :oauth_registration_form, :rules, style: 'display: inline'
              | Я согласен с правилами 
              = link_to 'регистрации и конфиденциальности', '//www.vedomosti.ru/info/privacy'

          button{type='submit' ng-disabled='!rules'} Сохранить
