= form_for(@registration_form, url: { controller: 'register', action: 'sign_up_with_password', layout: params[:layout] }, html: { form: :form, 'ng-submit' => 'submit($event)' }) do |f|

  = f.text_field :email, placeholder: 'E-mail *', 'ng-init' => "password_registration_form.email = '#{@registration_form.email}'", 'ng-model' => 'password_registration_form.email', 'ng-change' => 'inputStarted("password_registration_form_email")'
  - if @registration_form.errors[:email].present?
    .error= @registration_form.errors[:email].first
  .password-field {password-field='register-reveal'}
    = f.password_field :password, placeholder: 'Пароль *', 'ng-init' => "password_registration_form.password = '#{@registration_form.password}'", 'ng-model' => 'password_registration_form.password', 'ng-change' => 'inputStarted("password_registration_form_password")'
    - if @registration_form.errors[:password].present?
      .error{ng-hide='touched'}= @registration_form.errors[:password].first
    #register-reveal.password-field__reveal
  = f.text_field :last_name, placeholder: 'Фамилия *', 'ng-init' => "password_registration_form.last_name = '#{@registration_form.last_name}'", 'ng-model' => 'password_registration_form.last_name', 'ng-change' => 'inputStarted("password_registration_form_email")'
  - if @registration_form.errors[:last_name].present?
    .error= @registration_form.errors[:last_name].first
  = f.text_field :first_name, placeholder: 'Имя *', 'ng-init' => "password_registration_form.first_name = '#{@registration_form.first_name}'", 'ng-model' => 'password_registration_form.first_name', 'ng-change' => 'inputStarted("password_registration_form_first_name")'
  - if @registration_form.errors[:first_name].present?
    .error{ng-hide='touched'}= @registration_form.errors[:first_name].first

  = f.text_field :phone, placeholder: 'Телефон', 'ng-init' => "password_registration_form.phone = '#{@registration_form.phone}'", 'ng-model' => 'password_registration_form.phone', 'mask' => '+9 (999) 999-99-99', 'mask-restrict' => 'reject', 'ng-change' => 'inputStarted("password_registration_form_phone")'
  - if @registration_form.errors[:phone].present?
    .error{ng-hide='touched'}= @registration_form.errors[:phone].first

  .checkbox
    = f.check_box :mailing_type_slugs, {multiple: true, 'checklist-model' => 'password_registration_form.mailing_type_slugs'}, "newsrelease", nil
    = label :password_registration_form, :mailing_type_slugs_newsrelease, style: 'display: inline'
      | Я хочу получать ежедневную рассылку «Свежий номер «Ведомостей»

  .checkbox{ng-init='rules=true'}
    = f.check_box :rules, 'ng-model' => 'rules'
    = label :password_registration_form, :rules, style: 'display: inline'
      = 'Нажимая кнопку «Зарегистрироваться», я подтверждаю, что ознакомился и принимаю '
      = link_to 'правила регистрации и конфиденциальности', '//www.vedomosti.ru/info/privacy', :target => "_blank"

  button{type='submit' ng-disabled='!rules'} Зарегистрироваться
