- if @success
  - message = capture
    h5 Проверьте вашу почту
    p На указанный вами адрес электронной почты отправлено письмо. Для восстановления пароля, пройдите по ссылке в письме и введите новый пароль. Убедитесь, что письмо не попало в спам.
    p
      | С уважением,
      br
      | «Ведомости» +7 (495) 232-17-53

  = render 'alert', kind: :success, message: message
- else
  .id-form.id-form__mini
    .row
      .col-md-12
        h5 Восстановление пароля
        .message Укажите вашу почту и мы отправим вам ссылку для сброса пароля.
        = form_for(@email_form, url: password_reset_email_send_path, html: { form: :form, 'ng-submit' => 'submit($event)' }) do |f|
          = f.text_field :email, placeholder: 'E-mail', 'ng-model' => 'email_form.email'
          - if @email_form.errors[:email].present?
            .error = @email_form.errors[:email].first
          .actions
            button{type='submit'} Отправить
