- if @check_token_success
  - if @success

    - message = capture
      h5 Пароль успешно обновлён.

    = render 'alert', kind: :success, message: message

  - else
    .id-form.id-form__mini
      .row
        .col-md-12
          h5 Восстановление пароля
          .message Ваш пароль будет обновлен.

          = form_for @password_form, url: password_send_path do |f|
            .password-field {password-field='reset-reveal'}
              = f.password_field :password, placeholder: 'Пароль'
              - if @password_form.errors[:password].present?
                .error= @password_form.errors[:password].first
              #reset-reveal.password-field__reveal

            .actions
              button{type='submit'} Отправить

- else
  - message = capture
    h5 Неправильный токен сброса пароля.

  = render 'alert', kind: :error, message: message
