.id-form
  .row
    .col-md-5
      div.b-form-divider
      - if !defined?(hide_social_auth)
        .b-subscription-form-fieldset.b-subscription-form-fieldset_right
          = render 'register/oauth_links'

    .col-md-7.dotted
      .wrap
        h5 Регистрация
        = render 'register/password_form', hide_nickname: defined?(hide_nickname) ? hide_nickname : false