- message = capture
  h5 Неверная или устаревшая ссылка привязки&nbsp;аккаунта
  p По всем вопросам связанным с авторизацией обращайтесь:<br/>+7 (495) 232 17 53, <a href="mailto:podpiska@vedomosti.ru">podpiska@vedomosti.ru</a><br/>или через <a href="#{Settings.hosts.shark}/info/feedback">форму обратной связи</a>.

= render 'alert', kind: :error, message: message
