- message = capture
  h5 Ваш аккаунт соцсети успешно связан с&nbsp;аккаунтом&nbsp;Ведомостей
  p Теперь вы сможете заходить на сайт и по паролю, и через кнопки соцсетей.
  
= render 'alert', kind: :success, message: message
