<div style="visibility: hidden">
  <!-- Rating@Mail.ru counter -->
  <script type="text/javascript">
  var _tmr = _tmr || [];
  _tmr.push({id: "371008", type: "pageView", start: (new Date()).getTime()});
  (function (d, w) {
     var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
     ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
     var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
     if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
  })(document, window);
  </script><noscript><div style="position:absolute;left:-10000px;">
  <img src="//top-fwz1.mail.ru/counter?id=371008;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
  </div></noscript>
  <!-- //Rating@Mail.ru counter -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12193644-1', 'auto');
    ga('send', 'pageview');

  </script>

  <!--LiveInternet counter--><script type="text/javascript"><!--
  document.write("<a href='//www.liveinternet.ru/click' "+
  "target=_blank><img src='//counter.yadro.ru/hit?t52.6;r"+
  escape(document.referrer)+((typeof(screen)=="undefined")?"":
  ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
  screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
  ";"+Math.random()+
  "' alt='' title='LiveInternet: показано число просмотров и"+
  " посетителей за 24 часа' "+
  "border='0' width='88' height='31'><\/a>")
  //--></script><!--/LiveInternet-->

  <!-- begin of Top100 code -->

  <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?123323"></script>
  <noscript>
  <a href="http://top100.rambler.ru/navi/123323/">
  <img src="http://counter.rambler.ru/top100.cnt?123323" alt="Rambler's Top100" border="0" />
  </a>

  </noscript>
  <!-- end of Top100 code -->
  <!-- GOOGLE TAG MANAGER -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WXLF7X"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WXLF7X');</script>
  <!-- End Google Tag Manager -->
  <!-- tns-counter.ru -->
  <script type="text/javascript">
      (function(win, doc, cb){
          (win[cb] = win[cb] || []).push(function() {
              try {
                  tnsCounterImbusiness_ru = new TNS.TnsCounter({
                  'account':'imbusiness_ru',
                  'tmsec': 'vedomosti_other'
                  });
              } catch(e){}
          });

          var tnsscript = doc.createElement('script');
          tnsscript.type = 'text/javascript';
          tnsscript.async = true;
          tnsscript.src = ('https:' == doc.location.protocol ? 'https:' : 'http:') +
              '//www.tns-counter.ru/tcounter.js';
          var s = doc.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(tnsscript, s);
      })(window, this.document,'tnscounter_callback');
  </script>
  <noscript>
      <img src="//www.tns-counter.ru/V13a****imbusiness_ru/ru/UTF-8/tmsec=vedomosti_other/" width="0" height="0" alt="" />
  </noscript>

    <!-- Yandex.Metrika informer -->
    <a href="https://metrika.yandex.ru/stat/?id=3796804&amp;from=informer"
       target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/3796804/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                           style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:3796804,lang:'ru'});return false}catch(e){}" /></a>
    <!-- /Yandex.Metrika informer -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter3796804 = new Ya.Metrika({
                        id:3796804,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        trackHash:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/3796804" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  <!--/ tns-counter.ru -->

  <script type="text/javascript">
    var fire_event = function(tags, options) {
      var i, item, j, key, l, len, len1, params, rnd, s, structure, value;
      if (tags == null) {
        tags = [];
      }
      if (options == null) {
        options = {};
      }
      if (options.tags != null) {
        delete options.tags;
      }
      if (options.rnd != null) {
        delete options.rnd;
      }
      if (options.referer != null) {
        delete options.referer;
      }
      rnd = new Date().getTime() + Math.random(1);
      params = {
        rnd: rnd,
        referer: document.referrer,
        tags: []
      };
      if (params.referer.match(/\/\/m\./)) {
        params.view = 'mobile';
      }
      if (typeof categories !== "undefined" && categories !== null) {
        tags.unshift(categories);
      }
      if (typeof user_options !== "undefined" && user_options !== null) {
        tags.unshift(user_options);
      }
      for (i = 0, len = tags.length; i < len; i++) {
        structure = tags[i];
        if ((structure != null) && structure) {
          if ((structure.length != null) && structure.length) {
            for (j = 0, len1 = structure.length; j < len1; j++) {
              item = structure[j];
              params.tags.push(item);
            }
          } else {
            for (key in structure) {
              value = structure[key];
              if (structure.hasOwnProperty(key) && (value != null)) {
                params.tags.push(key + ":" + value);
              }
            }
          }
        }
      }
      params.tags = JSON.stringify($.unique(params.tags));
      $.extend(params, options);
      s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//<%= Settings.hosts.falco %>/boom?' + $.param(params);
      l = document.getElementsByTagName('script')[0];
      return l.parentNode.insertBefore(s, l);
    };

    fire_event([]);
  </script>
</div>
