doctype html
html
  head
    title ВЕДОМОСТИ - Авторизация
    meta charset='utf-8'
    = stylesheet_link_tag 'application', media: 'all'
    = render 'assets'
    = javascript_include_tag 'application'
    = javascript_include_tag 'id'
    meta{name='viewport' content='width=device-width, initial-scale=1'}
    meta {content="Качественный контент о бизнесе и экономике" name='description'}
    meta { property="og:description" content="Качественный контент о бизнесе и экономике" }
    meta {name="og:image" content=asset_url('chopick.jpg') }
    = favicon_link_tag 'vedomosti.gif'
    = favicon_link_tag 'vedomosti.png'
    = render 'application/facebook_pixel'
body.id{ng-app='Sea'}
  .b-header
    .container
      .row
        .col-md-12
          .b-ved-link
            .b-ved-link__logo
              .b-svg.b-svg--ved-small-green
            = link_to 'Перейти на vedomosti.ru', Settings.hosts.shark, class: 'b-ved-link__text'
          a.logo{href=Settings.hosts.shark}
            = image_tag 'vedomosti.svg'

          - if @current_user.present?
            span.message.message_login
              = image_tag 'user.svg', class: 'user'
              span.hint
                span = @current_user.first_name
                br
                span = @current_user.last_name
              span.exit
                a{href='/sign_out'}
                  span.icons-sprite.icons-exit
                  span Выйти
          - else
            span.message
              = image_tag 'users.svg', class: 'users'
              span.hint Авторизация

  .container
    .row
      .col-md-12= yield

  - if Rails.env.production?
    = render 'counters'
