doctype html
html
  head
    title id.vedomosti.ru
    meta charset='utf-8'
    = render 'application/facebook_pixel'
    = javascript_include_tag 'application'
body{ng-app='Sea'}
  br
  br
  br
  .id= yield
  br
  br
  br
